footer {
    padding-top: 15px;
    background: #e97aaa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: rap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: whitesmoke;

    p {
        color: whitesmoke;
        font-size: 15px;
    }
    
    a {
        font-size: 15px;
    }
    .link {
        display: flex;
        justify-content: center;
        width: 25%; // Ajusta el ancho en pantallas grandes
    }
    .link a {display: block;}
    .link a:hover {color: rgb(24, 226, 226)}
    .socials{
        display: flex;
        margin-bottom: 15px;
        justify-content: space-around;
        & a{
            display: inline-block;
            min-height: 40px;
            width: 40px;
            background-color:beige;
            margin: 0 15px 10px 0;
            text-align: center;
            line-height: 40px;
            border-radius: 50%;
            color:#e97aaa;
            font-size: 20px;
        }
    }
    .footer-text-rows {
        display: flex;
        justify-content: space-between;
    }
    .button-container {
        width: 25%; // Ajusta el ancho del contenedor del botón en pantallas grandes
        text-align: center;
        margin-right: -40px;
        button {
            white-space: nowrap; // Asegura que el texto no se divida en dos líneas
            padding: 10px 20px;
            font-size: 16px;
        }
    }
}


@media only screen and (min-width:768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        justify-content: center;
    }

    .footer-text-rows p {
        max-width: 90%; // Limita el ancho del párrafo para forzar que el texto se divida en dos líneas
        margin: 0 auto; // Centra el texto horizontalmente
        text-align: center; // Centra el texto dentro del contenedor
        line-height: 1.5; // Aumenta el espacio entre las líneas para mejorar la legibilidad
        padding: 0 15px;   // Asegura espacio a los lados para que no se superponga con otros elementos
        padding-bottom: 15px;
    }
}