.btn {
    border-color: #e97aaa;
    background-color: rgba(245, 245, 220, 0.952);
    border-width: 3px;
    color: rgb(93, 93, 92);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    height: 45px;
    width: 175px;
    justify-content: space-evenly;
    &:hover{color:rgb(24, 226, 226);}
}

title {
    font-size: 21px;
    height: 30px;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(93, 93, 92);
    text-align: center;
}

a {
    color: rgb(93, 93, 92);
    font-size: 18px;
    text-decoration: navajowhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 38px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 176, 24);
}

h2 {
    font-size: 26px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    color: #e97aaa;
}

h3 {
    font-size: 26px;
    font-family: serif;
    font-style: italic;
    color: rgb(93, 93, 92);
    text-align: center;
}

h4 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(93, 93, 92);
    text-align: center;
}
h5{
    font-size: 16px;
    text-align: center;
}

#isologo {max-height: 50px;}

.containerpage{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.text-center-cursiva{
    font-style: italic;
}

#buttonform {
    color: #e97aaa;
    font-size: 16px;
    min-height: 40px;
    &:hover{color:rgb(24, 226, 226);}
}